# My 1st  IBM WATSON STUDIO Jupyter Notebook

#  Savitha S
I am a Data Scientist

###### I am interested in data science because it help better understanding of large volume of data present as various types and in sources. Finally it retrieves good computation

#### simple python pandas program

In [2]:
import pandas as pd
name=['A','B','C','D']
mark=['30','36','45','42']

data=pd.DataFrame([name,mark])
data

    0   1   2   3
0   A   B   C   D
1  30  36  45  42

<href>www.ibm.com</href>

 <ol >
        <li>Savi</li>
        <li>Van</li>
        <li>Sun</li>
        <li>Jot</li>
        <li>Sri</li>
    </ol>

 <ul>
        <li>Apple</li>
        <li>Orange</li>
        <li>Lemon</li>
        <li>Banana</li>
        <li>Kiwi</li>
    </ul>